kicad/Dactyl Shield/~Dactyl Shield.kicad_sch.lck
kicad/Dactyl Shield/fp-info-cache
kicad/Dactyl Shield/Dactyl Shield-backups
kicad/Dactyl Shield/Dactyl Shield.kicad_prl
kicad/Dactyl Shield/mcu_breakout.zip
kicad/Dactyl Shield/mcu_breakout
kicad/Dactyl Shield/~Dactyl Shield.kicad_pcb.lck
kicad/Dactyl Shield/Dactyl Shield.step

kicad/generated

kicad/Dactyl Shield/lib/Dactyl.bak

