kicad/Dactyl MCU Breakout/~Dactyl MCU Breakout.kicad_sch.lck
kicad/Dactyl MCU Breakout/fp-info-cache
kicad/Dactyl MCU Breakout/Dactyl MCU Breakout-backups
kicad/Dactyl MCU Breakout/Dactyl MCU Breakout.kicad_prl
kicad/Dactyl MCU Breakout/mcu_breakout.zip
kicad/Dactyl MCU Breakout/mcu_breakout
kicad/Dactyl MCU Breakout/~Dactyl MCU Breakout.kicad_pcb.lck
